<%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>
        <%- include('./partials/nav.ejs') %>

            <aside>
                <details>
                    <summary>Typografie</summary>
                    <ul>
                        <li>Heading</li>
                        <li>Paragraph Large</li>
                        <li>Paragraph Normal</li>
                    </ul>
                </details>
                <details>
                    <summary>Kleurgebruik</summary>
                    <ul>
                        <li>Hoofdkleuren</li>
                        <li>Contrastkleuren</li>
                        <li>Ondersteunende kleuren</li>
                    </ul>
                </details>
                <details>
                    <summary>Componenten</summary>
                    <ul>
                        <li>SVG</li>
                        <li>Contrastkleuren</li>
                        <li>Ondersteunende kleuren</li>
                    </ul>
                </details>
                <details>
                    <summary>Icons</summary>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </details>
                <details>
                    <summary>Logo</summary>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </details>
            </aside>
            <main>
                <h1>Living Styleguide Vervoerregio Amsterdam!</h1>
            </main>
            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/foot.ejs') %>